.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    color: #fafafa;
    justify-content: center;
}
